.faq {
    position: relative;
    z-index: 2;
    top: 105px;
    margin: 0 auto;
    text-align: center;
}
.faq h1 {  
    font-size: 4em;
}
.questions {
    margin: 30px;
    position: relative;
    top: 6em;
}
.questions div{
    margin-top: 3em;
}
.questions p {
    margin-top: 12px;
    line-height: 20px;
}