
#dark-bg {
    position: absolute;
    top: 0;
    z-index: 2.5;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    display: none;
    animation: all ease-in-out 1s;
}
.hamburger-bg {
    width: 160px;
    height: 160px;
    background-color: #F7BE6A;
    position: absolute;
    z-index: 3;
    top: -80px;
    left: -80px;
    border-radius: 160px;
}
.corner {
    transform: translateX(-50%);
    position: relative;
    z-index: 4;
 }

 .screen {
     position: relative;
     left: 50vw;
     top: 0;
     width: 300px;
     height: 400px;
 }
 .nav-links {
     width: 200px;
     position: absolute;
     top: 0;
     z-index: 8;
     border-bottom-right-radius: 60px;

 }
 .nav-links ul {
     list-style: none;
     font-size: 1.5em;
     padding-left: 0;
     margin: 0;
 }
 .nav-links li{
     padding: 1em 0;
     opacity: 0;
     transition: opacity ease-in-out 0.6s;
 }
 .nav-links a {
    color: #1d1d27;
     text-decoration: none;
 }
 .bar {
     padding-left: 34px;
     border-bottom-right-radius: 50px;
 }

 #first {
     background-color:#F7BE6A ;
     padding-top: 3em; 
     position: relative;
     z-index: 5; 
     transform: translateX(-100%);
     transition: all ease-in-out 1s;
     transition-delay: 0.4s; 
 }
 #second {
     background-color: #D9F2E8;
     position: relative;
     top: -2em;
     padding-top: 2em;
     z-index: 4;
     transform: translateX(-100%);
     transition: all ease-in-out 1s;
     transition-delay: 0.2s;
 }
 #third {
     background-color: rgb(200, 226, 130);
     position: relative;
     top: -4em;
     padding-top: 2em;
     z-index: 3;
     transform: translateX(-100%);
     transition: all ease-in-out 1s;
 }
 .nav-active #first{
     transform: translateX(0%);
     transition: all ease-in-out 1s;
     /* box-shadow: 0px 1px 13px 2px #8d8d8d; */
 }
 .nav-active #second {
     transform: translateX(0%);
     transition: all ease-in-out 1s;
     transition-delay: 0.2s;
     /* box-shadow: -10px 1px 13px 2px #a8a8a8; */
 }
 .nav-active #third {
     transform: translateX(0%);
     transition: all ease-in-out 1s;
     transition-delay: 0.4s;
 }
 .nav-active li{
     opacity: 1;
 }