.desktop-nav {
    display: none;
}
.dish img {
    width: 160px;
    height: 160px;  
}
.dish img:hover {
    transform: scale(1.1);
}

.mini-icon img {
    position: absolute;
    width: 13%;
    max-width: 50px;
}
#avocado {
    top: 50px;
    right: 20px;
    transform: rotate(15deg);
}
#spinach {
    max-width: 40px;
    top:100px;
    left: 20px;
    transform: rotate(-15deg);
}
#mushroom {
    top:300px;
    left: 90px;
    transform: rotate(35deg);
}
#onion {
    max-width: 30;
    top:220px;
    right: 50px;
    transform: rotate(-15deg);
}
#garlic {
    max-width: 30px;
    top:410px;
    right: 8%;
    transform: rotate(15deg);
}
#lemon {
    max-width: 30px;
    top:-30px;
    right: 50%;
    transform: rotate(15deg);
}

#one {
    position: absolute;
    z-index: 0;
    top: -80px;
    right: -80px;
}
#two {
    position: absolute;
    z-index: 0;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
#three {
    position: absolute;
    z-index: 0;
    top: 230px;
    left: -80px;
}
#four {
    position: absolute;
    z-index: 0;
    top: 230px;
    right: -80px;
    transform: rotate(280deg);
}
#five {
    display: none;
}
.logo img {
    margin: 22em auto 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
}


/* FOOD CATEGORIES */
.main-background {
    position: relative;
    z-index: -1;
    top: -75px;
    width: 100%;
    background-color: #D9F2E8;
    padding-bottom: 1px;
    padding-top: 90px;
}

.box {
    position: relative;
    text-align: center;
    color: white;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories-grid img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    text-align: center;
}
.categories-grid {
    font-weight: bold;
    margin: 20px;
    display: grid;
    grid-gap: 15px;
    justify-items: end;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "vegan dinner"
    "salad potluck"
    "asian mexican"
    "italian random";
    justify-items: center;
}
.categories-grid p {
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 1.4em;
}
.vegan {
    grid-area: vegan;
}
.dinner {
    grid-area: dinner;
}
.salad {
    grid-area: salad;
}
.potluck {
    grid-area: potluck;
}
.asian {
    grid-area: asian
}
.mexican {
    grid-area: mexican;
}
.italian {
    grid-area: italian;
}
.random {
    grid-area: random;
}

#different a:hover {
    background-color:hsla(156, 52%, 81%, 0.767);
    border-radius: 40px;
    padding: 0.5em 1em;
}

@media (min-width:37.5em) {
    .dish img {
        width: 100%;
        max-width: 145px;
        height: unset;
    }
    .dish {
        justify-items: center;
        margin: 2em 2.5em 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        ". . three . ."
        ". two . four ."
        "one . . . five";
    }
    #one {
        grid-area: one;
        position: relative;
        z-index: 0;
        top: -40px;
        right: -10px;
    }
    #two {
        grid-area: two;
        position: relative;
        z-index: 0;
        top: -55px;
        left: -30px;
        transform: unset;
    }
    #three {
        grid-area: three;
        position: relative;
        z-index: 0;
        top: unset;
        left: unset;
    }
    #four {
        grid-area: four;
        position: relative;
        z-index: 0;
        top:-55px;
        right:-30px;
        transform: unset;
    }
    #five {
        grid-area: five;
        position: relative;
        z-index: 0;
        top:-40px;
        right:10px;
        display: block;
    }
    .logo img {
        margin-top: -6em;
    }
    .main-background {
        margin-top: -10px;
    }
    .categories-grid {
        margin: 30px;
        grid-gap: 20px;
        justify-items: end;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "vegan dinner salad"
        "potluck asian mexican"
        ". italian random "
    }
    .italian{
        transform: translateX(-50%);
    }
    .random {
        transform: translateX(-50%);
    }
}

@media (min-width: 62.5em){

   /* BANNER DESIGN */
    .categories-grid {
        margin: 30px 129px;
        grid-gap: 35px;
        justify-items: end;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "vegan dinner salad potluck"
        "asian mexican italian random"
    }
    .italian{
        transform: unset;
    }
    .random {
        transform: unset;
    }


    /* FOOD CATEGORIES WITH LOGO*/
    .main{
         margin: 0 40px;
     }   
    .main-background {
        padding-top: 7em;
        border-radius: 20px;
    }
    .logo img{
        width: 190px;
    }
    .dish img {
        max-width: 180px;
    }
    .dish {
        justify-items: center;
        margin: 0 200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        ". . three . ."
        ". two . four ."
        "one . . . five";
    }
    #one {
        position: relative;
        top:-20px;
        left: 10px;
        grid-area: one;
    }
    #two {
        grid-area: two;
        position: relative;
        top: -40px;
        left: -50px;
        transform: unset;
    }
    #three {
        position: relative;
        top: 45px;
        left:0px;
        grid-area: three;
    }
    #four {
        grid-area: four;
        position: relative;
        top: -40px;
        right: -50px;
        transform: unset;
    }
    #five {
        grid-area: five;
        display: block;
        position: relative;
        top:-20px;
        right: 10px;
    }

    .categories-grid img {
        box-shadow: 2px 1px 10px 2px #c0c0c0;
    }
    .categories-grid:hover{
        transform: scale(1.1);
    }
}