@import "hamburger-style.css";
@import "normalize.css";


input, button, submit { border:none; padding: 0;
    background: none } 
html {
    font-family: quicksand;
    overflow-x: hidden;
    
}
body{
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
}
input {
    width: 80%;
    text-align: center;
}

/* FOOTER */
.footer {
    margin-top: 17em;
    position: relative;
    margin-bottom: 0;
}
.footer img {
    width: 100%;
}
.text {
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 90%;
    left: 50%;
  transform: translate(-50%, -50%);
}

/* ERROR PAGE */
.error {
    margin: 20em 3em;
    text-align: center;
}

@media (min-width:37.5em) {
    .footer {
        margin-top: 7em;
    }
}


