@import "hamburger-style.css";
@import "normalize.css";

input, button, submit { border:none; background-color: white; } 
html {
    font-family: quicksand;
}
body{
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
}



