.menubar {
    display: none;
}
.header-image {
    margin: 10em 1.2em 1.2em;
    position: relative;
}
.header-image img{
    width: 100%;
    border-radius: 13px;
}

.header {
    text-align: start;
    margin: 30px;
    color: #300D3C;
}
#title p{
    font-size: 2em;
}
#subtitle p{
    font-size: 1em;
    margin-top: 3px;
}
.icons{
    margin: 2em 30px 0;
    display: flex;
    justify-content: space-between;

}
.icons div{
    display: block;
    text-align: center;
}
.icons img{
    height: 28px;
}
.icons p {
    position: relative;
    top: 6px;
}

/* DESCRIPTIONS */
.description {
    margin: 30px;
    line-height: 24px;
    font-size: 0.9em;
}

/* INGREDIENTS */
.ingredient h1{
    margin-left: 0;
    font-size: 1.5em;
    background-color: #E7F4EF;
    width: 50%;
    padding: 10px 0 10px 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px; 
}
.ing-pic{
    text-align: center;
    margin: 1em 0;
}
.ing-pic img{
    width: 80%;
}
.ingredient-info {
    margin: 0 30px 4em;
}
.ingredient-info hr{
    border: 0.05px solid rgb(231, 231, 231);
    text-align: center;
    width: 99%;
    margin: 5px 0;
}
.grid {
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: auto;
    grid-template-areas: "ing no";
}
.item {
    grid-area: ing;
}
.no {
    grid-area: no;
}

/* INSTRUCTION */
.instruction h1{
    margin-left: 0;
    font-size: 1.5em;
    background-color: #E7F4EF;
    width: 50%;
    padding: 10px 0 10px 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px; 
}
#exp-col {
    margin: 1em 19px;
    cursor: pointer;
}
#exp {
    background-color: #FFCC79;
    text-align: center;
    border-radius: 5px;
    color: white; 
    width: 100%;
    transition: 1s all ease;
    border: 3px solid #FFCC79;
    cursor: pointer;
}
#exp p{
    padding: 9px 0;
    letter-spacing: 1px;
}
#col {
    background-color: white;
    text-align: center;
    border: 3px solid #FFCC79;
    border-radius: 5px;
    color: #FFCC79;
    width: 100%;
    cursor: pointer;
}
#col p{
    padding: 9px 0;
    letter-spacing: 1px;
}
.steps {
    background-color:#F8F8F8;
    padding: 3px 19px;
    width: 100%;
}
.step {
    background-color: white;
    margin: 0.5em 4px;
    border-radius: 5px;
    box-shadow: 0px 1px 20px 2px #d3d3d3;
}
.step p {
    padding: 9px 15px;
}
.inside img{
    width: 100%;
}
.inside p{
    line-height: 1.4em;
    padding-bottom: 1em;
}
.headerimg {
   display: none;
}

@media (min-width: 37.5em) {
    .afterheader {
        position: relative;
        top: 6em;
    }
    .header-image {
        display: none;
    }
    .headerimg {
        grid-area: headerimg;
        display: block;
    }
    .headerimg img {
        width: 100%;
    }
    .header {
        grid-area: header;
        margin: 0 0 0 1.2em;
    }
    #title p{
        font-size: 2em;
    }
    .icons {
        grid-area: icons;
        margin: 0 0 0 1.2em;
        width: 70%;
    }
    .icons p {
        font-size: 0.8em;
        top: 2px;
    }
    .icons img{
        height: 20px;
    }
    .description {
        grid-area: desc;
        margin: 0 0 0 1.2em;
        font-size: 0.8em;
    }
    .side {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "headerimg header"
        "headerimg icons"
        "headerimg desc";
        margin: 30px auto;
        align-items: start;
        max-width: 720px;
    }
    INGREDIENT
    .ingredient h1{
        padding-left: 45px;
        width: 30%;
    }
    .ing-pic img{
        grid-area: pic;
        width: 100%;
        padding-left: 20px;
    }
    .ingredient-info {
        grid-area: no;
        margin: 0;
    }
    .side2 {
        display: grid;
        grid-template-columns:40% 60%;
        grid-template-rows: auto;
        grid-template-areas: 
        "no pic";
        align-items: start;
        margin: 0 45px;
    }
    
}

@media (min-width: 62.5em){
    .afterheader {
        position: relative;
        top: 8.5em;
    }
    .side {
        margin: 0 auto;
        width: 90%;
        max-width: 1050px;
    }
    #title {
        padding-left: 1.9em;
    }
    #title p{
        font-size: 3.8em;
    }
    #subtitle {
        padding-left: 1.9em;
    }
    #subtitle p {
        font-size: 1.5em;
    }
    .icons {
        margin: 0;
        padding-left: 2.9em;
    }
    .icons p {
        font-size: 1em;
        top: 2px;
    }
    .icons img{
        height: 29px;
    }
    .description {
        margin: 0;
        padding-left: 2.9em;
        font-size: 1em;
    }


    .ingredient {
        margin: 5em 0 3em;
    }
    .ingredient h1{
        font-size: 2.2em;
        padding-left:10%;
        width: 30%;
        max-width: 1050px;
    }
    .ingredient-info {
        grid-area: no;
        margin: 0;
        margin-top: 1em;
        font-size: 1.1em;
        line-height: 1.4em;
    }
    .ing-pic img{
        grid-area: pic;
        width: 90%;
        padding-left: 1em;
        margin-top: -4.4em;
        margin-right: -4em;
    }
    .side2 {
        margin: 0 auto;
        width: 90%;
        max-width: 1050px;
        grid-template-columns:48% 52%;
    }



    
    .instruction h1{
        margin-top: 2em;
        padding: 20px 129px;
        font-size: 3em;
        width: 33%;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px; 
    }
    #exp-col{
        margin: 2em 129px;
        width: 30%;
    }
    .steps p {
        font-size: 1em;
        padding: 12px 30px;
        width: 70%;
    }
    .steps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "one two"
        "three four"
        "five six";
        grid-gap: 10px;
        padding: 2em 129px;
    }
   
    .one {
        grid-area: one ;
    }
    .two {
        grid-area: two;
    }
    .three {
        grid-area: three;
    }
    .four {
        grid-area: four;
    }
    .five {
        grid-area: five;
    }
    .six {
        grid-area: six;
    } 
}


