.main-bg {
    width: 100%;
    background-color: #D9F2E8;
    padding-top: 5.5em;
    padding-bottom: 5em;
    position: absolute;
    z-index: 0;
    top: 0;
}
.menubar {
    display: none;
}


/* UPDATED SEARCH RESULTS RECUPE */
.result a {
    text-decoration: none;
    color: inherit;
}
.result-container {
    position: relative;
    top: 10em;
    z-index: 0.5;
    max-width: 418px;
    padding: 1em;
    width: 93%;
    margin: 1em auto;
    border-radius: 23px;
    background-color: white;
    box-shadow: 0px 2px 28px 0px #c7c7c7;
}
.result-grid{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-row: 2fr 1fr;
    grid-template-areas: 
    "dish name"
    "dish icon";
}
.dish{
    grid-area: dish;
    justify-self: center;
}
.dish img{
    width: 100%;
    max-width: 180px;
    transition: all ease-in-out 0.1s;
}
.dish img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
}
.name{
    grid-area: name;
    align-self: flex-start;
    padding-top: 5px;
}
.name p {
    font-weight: bold;
    text-align: end;
}
.icon {
    display: flex;
    justify-content: end;
    align-self: center;
}
.sub-icon {
    grid-area: icon;
    display: flex;
    padding-left: 10px;
}
.sub-icon img{
    height: 23px;
    margin-right: 3px;
}
.sub-icon p{
    padding-top: 4px; 
    font-size: 0.9em;   
}




@media (min-width:37.5em) {
    .main-bg { 
        padding-top: 1em;
        padding-bottom: 12em;
        position: absolute;
        z-index: -1;
        }
    .result {
        display: flex;
        padding: 1em;
        flex-wrap: wrap;
    }
    .result-container{
        margin-top: 8em;
        max-height: 270px;
        padding:1em;
        width: 260px;
        /* min-width: 216px; */
        top: 4em;
    }
    .result-grid{
    grid-template-columns: 1fr;
       grid-template-rows: 2fr 1fr 0.5fr ;
       grid-template-areas: 
       "dish"
       "name"
       "icon";
       position:relative;
       top: -110px;
    }
    .dish img{
        width: 100%;
        max-width: 180px;
    }
    .name{
        align-self: center;
    }
    .name p {
        text-align: center;
        padding: 0 1.5em;
    }
    .icon {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .result-container{
        max-width: 300px;
    }
}

@media (min-width: 62.5em){
    .main-bg { 
    padding-top: 1.9em;
    padding-bottom: 2em;
    position: absolute;
    z-index: -1;
    }
    .result {
        margin: 1em 1em 0;
    }


}